{{ ansible_managed | comment }}

[Unit]
Description=ARA
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=allways
TimeoutStartSec=300
TimeoutStopSec=120
ExecStartPre=/bin/rm -f %t/ara.pid %t/ara.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/ara.pid --cidfile %t/ara.ctr-id --cgroups=no-conmon --label io.containers.autoupdate=image --pull=always --replace --name ara --detach --network host --publish {{ ara_port }}:8000 --user root --volume /opt/ara:/opt/ara {{ ara_registry_host }}/{{ ara_registry_tag }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ara.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ara.ctr-id
PIDFile=%t/ara.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target

