{{ ansible_managed | comment }}

<Proxy *>
    <RequireAll>
        AuthType Basic
        AuthName "Basic Authentication"
        AuthUserFile /etc/apache2/ara.htpasswd
        Require valid-user

        Require ip {{ ara_allow_ips }}
    </RequireAll>
</Proxy>
ProxyPass / http://localhost:{{ ara_port }}/ nocanon
ProxyPassReverse / http://localhost:{{ ara_port }}/
