---
{{ ansible_managed | comment }}
default:
  ALLOWED_HOSTS:
  - ::1
  - 127.0.0.1
  - localhost
  - stewarts.org.uk
  BASE_DIR: /opt/ara
  DATABASE_ENGINE: django.db.backends.postgresql
  DATABASE_HOST: localhost
  DATABASE_NAME: {{ ara_db_database }}
  DATABASE_OPTIONS: {}
  DATABASE_PASSWORD: {{ ara_db_password }}
  DATABASE_PORT: 5432
  DATABASE_USER: {{ ara_db_username }}
  DEBUG: false
  EXTERNAL_AUTH: true
  LOG_LEVEL: INFO
  READ_LOGIN_REQUIRED: false
  WRITE_LOGIN_REQUIRED: false
  SECRET_KEY: {{ ara_secret_key }}
  TIME_ZONE: Europe/London

